//Переменные
@import "variables";

//Контейнер
.container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding-left: $grid-gap-side;
  padding-right: $grid-gap-side;

  outline: 2px solid #ddd;
}

//Ряд сетки
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gap-side;
  margin-right: -$grid-gap-side;

  > * {
    margin-left: $grid-gap-side;
    margin-right: $grid-gap-side;
  }
}

//Колонки сетки
.col {
  flex: 1 0 0%;
}

@mixin col($size) {
  flex: 0 0 auto;
  width: calc(#{percentage($size / $grid-columns)} - #{$grid-gap});
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include col($i);
  }
}
